#nav_menu ul { list-style-type: none; }
#nav_menu ul li { float: left; }
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;}
#nav_menu ul li a.lastitem { border-right: none; }	
#nav_menu ul li a.current { color: yellow; }

header{
    border-bottom: solid blue;
}

article{
    clear: both;
    column-count: 3;
    column-rule: dashed blue;
}








img{
    clear: both;
}



aside{
    width: 20%;
    float: right;
    padding: 0.1em 1em 1em;
    background-color: #ffebc6;
    position: fixed;
    right: 0;
    top: 170px;

}

