html, body {
margin: 1em;
height: 100%;
font-size: 100%;
}
* {
font-family: Verdana, Arial, Helvetica, sans-serif;
}
/*-------------------------------------------------1----------*/
table.first {
    border-collapse: separate;
    border: 2px solid black;    
}
table.first th, table.first td {
    border: 2px solid blue;
}
table.first tr:nth-child(odd) {
    background-color: lightblue;
}
/*-------------------------------------------------2----------*/
table.second {    
    border-collapse: collapse; 
    border: 2px solid purple;   
    caption-side: bottom;
}
table.second th {
    background-color: salmon;
}
table.second th, table.second td {
    padding: 0.7em;  
    vertical-align: middle;
    border: 2px solid purple;
}
table.second thead tr:first-child{     
    border-bottom: 2px solid purple;
}
/*------------------------------------------------3----------*/

table.third caption {
    text-align: center;
    background-color: lightgreen;
}

table.third thead tr {
    background-color: green;
    border-collapse: collapse;
    border: none;
    text-align: center;
    font-weight: bold;
}

/*table.third thead {
    background-color: lightgreen;
    border-collapse: collapse;
    border: none;
    text-align: center;
    font-weight: bold;
    
}
*/